# Python
__pycache__/
*_cache
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.coverage

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.venv
env/
venv/
ENV/ 

# Miscellaneous
temp/
*output*
*results
data
*.csv
site
*.pem

# Mac
.DS_Store

# Sphinx
_build/
_templates/
_static/